QLineEdit, QTextEdit, QComboBox, QSpinBox, QFileDialog, QPushButton {
    font-size: 14px;
    border: 1px solid #76797C;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px;
}

QLineEdit, QTextEdit, QComboBox, QSpinBox, QFileDialog {
    background-color: #212121;
    color: #FFFFFF;
    width: 300px;
}

QPushButton {
    background-color: #414344;
    color: #FFFFFF;
}

QPushButton:hover {
    background-color: #5f6263;
    border-color: #5f6263;
}

QPushButton:pressed {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* Apply margin and padding to the main window container */
#promptWindow,
#promptWidget {
    margin: 0;
    padding: 0;
}

/* Apply margin and padding to the main window container */
#configurationsWindow,
#configurationsWidget {
    margin: 0;
    padding: 0;
}

/* Adjust the QTabWidget's internal layout */
#configurationsWindow QTabWidget::pane {
    /* border: 0; */
    position: absolute;
    top: -1px;
}

/* Remove the border and margin from QTabBar */
#configurationsWindow QTabBar::tab {
    border: 1px solid #76797C;
    margin: 0;
    padding: 5px;
    border-radius: 0;
    border-right: 0;
    margin-bottom:10px;
}

/* Style the first tab from QTabBar */
#configurationsWindow QTabBar::tab:first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Style the last tab from QTabBar */
#configurationsWindow QTabBar::tab:last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #76797C;
}

/* Style the selected tab */
#configurationsWindow QTabBar::tab:selected {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* Style the selected tab while hovering */
#configurationsWindow QTabBar::tab:selected:hover {
    background-color: #3485fd;
    border-color: #3485fd;
}

/* Style the hovering tabs */
#configurationsWindow QTabBar::tab:hover {
    background-color: rgba(255, 255, 255, 50);
    border-color: rgba(255, 255, 255, 50);
}

#configurationsWindow QTabBar::tab:pressed {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* Style for the individual tabs */
#configurationsWindow QGroupBox {
    margin-top: 0; /* Use a negative value if needed */
}

#configurationsWindow QPushButton#unsavedChanges {
    border: 1px solid #198754;
    background-color: #198754;
}

#configurationsWindow QPushButton#unsavedChanges:hover {
    background-color: #1fa869;
    border-color: #1fa869;
}
